<h1>Hi Dear {{name}}</h1>
<h1>This is the confirmation email from Learning Center!</h1>
<h2>Please click the link/button confirm your email</h2>
<p>
    <a href='{{url}}'> CONFIRM </a>
</p>

<p> You need confirm your account in order to fully access to our website!</p>
